opencv-python
imutils
supervision
ultralytics 
numpy
pillow
cmake
matplotlib
python-dotenv
python-decouple
PyYAML

# jupyter notebook auto suggest 
jupyterlab-lsp
python-lsp-server[all]

# websocket
channels

# UI 
django
django-cors-headers
djangorestframework

# database 
pymongo[srv]
sqlparse
# will have version coflict problem between django, djongo, pymongo, django-cors-headers and djangorestframework
# makesure install correct version 

# dataset for model training 
roboflow