opencv-python
imutils
supervision
ultralytics 
numpy
pillow
cmake
matplotlib
python-dotenv

# jupyter notebook auto suggest 
jupyterlab-lsp
python-lsp-server[all]

# UI 
django
django-cors-headers

# database 
djongo 
pymongo[srv] ==3.12

# dataset for model training 
roboflow